# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/

# Virtualenv
venv/
.venv/
env/

# Environment
.env

# Tests
.pytest_cache/
.coverage
htmlcov/

# Editor
.vscode/
.idea/
*.swp
.DS_Store

# Logs
*.log
